// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-brand {
    font-size: 1.2rem;
}

a{
    color: #000;
    &:hover{
        color: $blue;
        background-color: #eee;
    }
    &:active{
        color: $blue;
        background-color: #eee;
    }
    &.nav-link{
        padding: 0.5rem 1rem!important;
        font-weight: 500;
        border-radius: .2rem;
    }
}

.back{
    text-decoration: none!important;
    color: white;
    &:hover{
        color: #eee;
        background-color: #343A40;
    }
}

.active{
    color: $blue;
    background-color: #eee;
}

.table{
    background-color: #fff;
    &:hover tbody tr:hover{
        background-color: #eee;
    }
}

i.fa.fa-long-arrow-down.low{
    color: green;
}

i.fa.fa-long-arrow-up.medium{
    color: orange;
}

i.fa.fa-long-arrow-up.high{
    color: red;
}

